.button-start--recipe {
  background-color: dimgrey;
  border: none;
  bottom: 0;
  color: white;
  left: 0;
  padding: 10px 0;
  position: sticky;
  width: 100%;
}

.button-start--recipe:hover {
  background-color: gray;
}
