/* styles.css */
.RecipeCard {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 100%;
}


.RecipeCard-img {
  object-fit: contain;
  width: 100%;
}

.RecipeCard-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.RecipeCard-category {
  font-size: 1rem;
}

.DoneRecipeBotContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.DoneRecipeTopContainer {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}
