/* Adicione estilos específicos para o cabeçalho */
header {
  align-items: center; /* Alinha verticalmente no centro */
  background-color: white;
  color: black; /* Cor do texto */
  display: flex;
  gap: 10px;
  justify-content: space-between; /* Alinha os itens nas extremidades */
  padding: 10px; /* Espaçamento interno */
}

/* Estilize o logo-left */
.logo-left {
  align-items: center;
  display: flex;
}

.logo-left b {
  margin-left: 5px; /* Espaçamento entre "Recipes" e "APP" */
}

/* Estilize os icons-right */
.icons-right {
  align-items: center;
  display: flex;
  gap: 10px;
}

/* Estilize o title para estar no centro */
.title {
  flex-grow: 1; /* Cresce para ocupar o espaço restante */
  text-align: center;
}

.SearchBarHidden {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* styles.css (ou o nome que preferir) */
.iconSearch {
  background-color: transparent; /* Sem fundo */
  border: none;
  cursor: pointer;
  padding: 2px; /* Remova o preenchimento padrão */
  transition: box-shadow 0.3s ease-in-out;

  /* Adiciona uma transição suave para a sombra */
}


.iconSearch img {
  transition: transform 0.3s ease-in-out;
}

.iconSearch:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho da imagem ao passar o mouse */
}


@media screen and ( max-width : 600px ) {

  .logo-left img {
    width: 30px; /* Ajuste conforme necessário para telas menores */
  }

  .icons-right img {
    width: 20px; /* Ajuste conforme necessário para telas menores */
  }
}
