.button-start--recipe {
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  background-color: dimgrey;
  border: none;
}

.button-start--recipe:hover {
  background-color: gray;
}