body {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: 'Quicksand';
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 640px;
  background-color: tomato;
}
