body {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: 'Quicksand';
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
  width: 360px;
  height: 640px;
  background-color: tomato;
}
.img{
  width: 50px;
  height: 50px;
}
.recipeCard img{
  width: 50px;
  height: 50px;
}
.recipeCard{
  width: 50px;
  border: 1px solid black;
}
.recipeCard h3{
  font-size: 16px;
}
.recipesContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 200px;
  justify-content: space-between;
}
